<h1>Revisions</h1>
<table>
  <% revisions.each do |revision| %>
    <tr>
      <td><%= revision.title %></td>
      <td><%= revision.published? ? "published" : "draft" %></td>
      <td><%= revision.updated_at.to_formatted_s(:db) %></td>
      <td><%= link_to '<i class="fas fa-eye"></i> View'.html_safe, admin_post_revision_url(post_id: revision.post.id, id: revision.id) %></td>
    </tr>
  <% end %>
</table>
<a href="<%= edit_admin_post_path(id: revisions.first.post.id) %>">
  <button>Edit Post</button>
</a>

