<div id="editor">
  <%= form_for @post, url: @post_path do |f|  %>
    <% f.fields_for :revision do |r| %>
      <%= r.text_field :title, placeholder: "Title..." %>
      <%= r.text_area :content, rows: 20, placeholder: "What's on your mind..." %>
      <%= label_tag(:draft, "This is a draft") %>
      <%= r.check_box :draft  %>
    <% end %>
    <% f.fields_for :url do |u| %>
      <%= u.text_field :slug, placeholder: "slug-for-url" %>
    <% end %>
    <button type="submit">Save</button>
  <% end %>
</div>
