<div id="editor">
  <%= form_for @post, url: @admin_post_path do |f|  %>
    <%= f.fields_for :revisions, @post.current_revision, include_id: false do |r| %>
      <%= r.text_field :title, placeholder: "Title..." %>
      <%= r.text_area :content, rows: 20, placeholder: "What's on your mind..." %>
      <%= label_tag(:published, "This is published") %>
      <%= r.check_box :published  %>
    <% end %>
    <%= f.fields_for :urls, @post.urls.newest.first, include_id: false do |u| %>
      <%= u.text_field :slug, placeholder: "slug-for-url" %>
    <% end %>
    <button type="submit">Save</button>
  <% end %>
</div>
