<article class="post">
  <header>
    <h2>
      <%= post.title %>
    </h2>
  </header>
  <section class="publishing">
    Published :
    <% post.published_at.each do |pub_datetime| %>
      <time datetime="<%= pub_datetime %>"><%= pub_datetime.to_date.to_formatted_s(:db) %></time>
    <% end %>
  </section>
  <section class="content">
    <%= markdown(post.content) %>
  </section>
  <footer>
    <%= link_to "<i class=\"fas fa-anchor\"></i>&nbsp;#{post_url(slug: post.slug)}".html_safe, post_url(slug: post.slug), class: 'permalink' %>
  </footer>
</article>
