<h1>
  <%= INFO[:title] %>
</h1>
<aside>
  <h4><%= INFO[:name] %></h4>
  <h6><%= INFO[:email] %></h6>
</aside>
<%= c("page") do %>
  <% @posts.each do |post| %>
    <%= c("teaser", post: post) %>
  <% end %>
<% end %>

